[submodule "include/zsh/zsh-syntax-highlighting"]
	path = include/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "include/zsh/zsh-autosuggestions"]
	path = include/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "include/fzf"]
	path = include/fzf
	url = https://github.com/junegunn/fzf
[submodule "include/tmux/tmux-resurrect"]
	path = include/tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
